
{# Header Menu / Navigation,
 Builds up the inner <li> elements and links, sub <ul>'s and their sub <li>'s etc.
 e.g. something like: li*3>a+(ul>li*5>a) ... #}

{# Note about attribute function: attribute(link.sub_links, 0).sub_links looks wierd, but it is how to do link.sub_links[0].sub_links in Twig #}

{% macro header_links(links, active_slug, is_sub, is_footer) %}
    {% for link in links %}

        {# Variable for is-current class #}
        {# Is active_slug equal to this links slug or a sub slug of this slug? #}
        {% set is_active = active_slug == link.slug or link.sub_links|filter(sub_link => active_slug == sub_link.slug or sub_link.sub_links|filter(sub_sub_link => active_slug == sub_sub_link.slug)) %}

        {# mark as current if this link or a sub link is the active page #}
        {# If there are no sub links, give this li a class of mega-menu-single #}
        <li class="{% if is_active %}is-current{% endif %} {% if not attribute(link.sub_links, 0).sub_links or attribute(link.sub_links, 0).sub_links|length <= 0 %}mega-menu-single{% endif %}">
            <a{% if not is_sub %} accesskey="{{ loop.index }}"{% endif %} href="{{ link.href }}" title="{{ link.name }}"> {{ link.name }} </a>

            {# Content Block, name will be "mega_menu_SLUG" #}
            {{ rec_block('mega_menu_' ~ link.slug, type="html") }}

            {% if link.sub_links|length > 0 and not is_footer %}
                {# If there are sub links, give this ul a class of has-background #}
                <ul class="{% if attribute(link.sub_links, 0).sub_links and attribute(link.sub_links, 0).sub_links|length > 0 %}has-background{% endif %}">
                    {# recursively call this macro to build up sub links, and sub sub links, etc. #}
                    {{ _self.header_links(link.sub_links, active_slug, true) }}
                </ul>
            {% endif %}
        </li>

    {% endfor %}
{% endmacro %}

{# call macro on include #}
{{ _self.header_links(links, active_slug, false, is_footer) }}
